/* --- STYLES FOR ALL PAGES --- */
body {
  /* Typography */
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


.textColor {
  color: white;
}

a:visited {
font-weight: 200;

}

.background-box {
  margin-top:5%;
background-color: aliceblue;

}


#main-bio {float: left;
  width:70%;
  margin-left: 14%;

  box-sizing: border-box;
  -webkit-box-flex: 1;
  flex-grow: 1;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  margin-top:4%;
  background: rgba(112, 128, 144, 0.2);
  border-radius: 15px 100px 5px 5px;
  }

  #contact-info {
  /* line-height: 1.5; */
  float:left;
  width:28%;


  }

/* Image CSS effect  */

@keyframes rotater {
  0% { transform:rotate(0) scale(1) }
  50% { transform:rotate(360deg) scale(2) }
  100% { transform:rotate(720deg) scale(1) }
  }

.zoom {
  padding: 0px;
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 200px;
  margin: 0 auto;
  float:left;
  
}

.zoom:hover {
  animation-name:rotater; 
  animation-duration:500ms; 
  animation-iteration-count:1; 
  animation-timing-function: ease-out;
 
}

/* Flying Duck - borrowed from https://codepen.io/cielou/pen/zBmLkE
 */

 #bigBox {
  position:absolute;
  width:200px;
  height:200px;
  top:25%;
  left:50%;
  margin:-100px 0 0 -120px;
  animation:bigBoxAnimation 6s linear infinite;
}
#box,#box2 {
  position:absolute;
  top:60%;
  left:50%;
  width:40px;
  height:40px;
  margin:-20px 0 0 -20px;
  animation:boxAnimation 2.95s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
}
#box2 {
  animation:boxAnimation 3.2s cubic-bezier(0.02, 0.01, 0.31, 1) infinite;
  transform:matrix(-1,0,0,1,0,0);
}
#box::after, #box2::after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:6px;
  height:6px;
  background:#fff;
  border-radius:100%;
  animation:spanAnimation 3s cubic-bezier(0.3, 0.27, 0.07, 1.64) infinite;
  box-shadow:rgba(255,255,255,1) 0 0 20px 2px;
}
@keyframes bigBoxAnimation {
  100% {transform:rotate(360deg);}
}
@keyframes boxAnimation{
  50% {transform:translateY(-150px);}
}
@keyframes spanAnimation {
  50% {transform:translateX(-150px)}
}

/* 
hover image zoom */
/* [1] The container */
.img-hover-zoom {
height: 50px; /* [1.1] Set it as per your need */
 overflow: hidden;  
/* width:60px; */
float:left;
margin-right: 6px;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
transform: scale(1.5);
}


.vertical-center {
 
  background-image: url("../imgs/home.jpeg"); 
 
 /* Full height */
 /* height: 100%; */
 /* Center and scale the image nicely */
 /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  min-height : 100%;
 


 }

 /* Eliminate the border around the container box */
.nobackground {
background : none;

}

 .background-container-color {
  background-color:whitesmoke;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  overflow: hidden;
  list-style: none;
  border: solid 3px white;
  margin-top:4%;

  border-radius: 15px 100px 5px 5px;


 }



/* Contact Form CSS */

    .sendcontactemailbutton {
    float:right;
      color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-bottom: 1%;
    }
/* 
    Portfolio Grid spacing CSS */

    .make-nice-spacing {
      margin-left : 35%;
      padding-bottom:2%;

    }

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 60px;
    background-color: #007bff;
  

}

.footer-margin {
  height: 100px;
}

.text-muted-color {
  color : white;
  float: right;
  font-size: small;
  padding-right : 1%;

}

#MainContent {



}

#down-arrow {
  /* display: block; */
  /* width: 100px; */
  /* position: relative; */
  clear: both;
  margin-left: 47%;
  width: 75px;
margin-top: -.7%;
text-decoration: underline;
font-weight: bold;
cursor: pointer;
padding: 2%;
height:30px;

}


#hidden-content {


  float: left;
    width: 95%;
    margin-left: 3%;
    /* box-sizing: border-box; */
    /* -webkit-box-flex: 1; */
    /* flex-grow: 1; */
    /* overflow: hidden; */
    list-style: none;
    /* border: solid 3px white; */
    background: black;
    display : none;
    padding-left: 0%;
    padding: 3%;
    border-color: powderblue;
    border-radius: 10px 10px 10px 10px;
    
    color : #0cedab;
    font-size: medium ; 
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;


}

#hidden-content a {

color : #0cedab;

}
/* 
Make invisible added due to error with stylesheet in mobile format. Switch from absolute to relative in footer */

.mobileinvisible {
  margin-bottom : 0;
  margin-bottom : 0;

}


@media only screen and (max-width: 600px) {
  .mobileinvisible {
    position : relative;
  }

  .col-sm {
    padding:2%;
    margin-left:5px;
  }
  
  .make-nice-spacing {
    margin-left : 0px;
  }


}